@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'Mulish', sans-serif !important
    background-color #F7F8FC !important
    color #10182F !important

main
    margin-top 8rem
    
    h2
        font-size 2.125rem

    span
        font-size 1.125rem
        color #545D7A

    .cards
        .cards-info 
            max-width 310px
            width 100%
            box-shadow 0 10px 20px darken(#F7F8FC, 20%)

            @media (max-width 767px)
                max-width 100%
            
            i                
                width 105px
                height 105px
                
                &.fa-clipboard  
                    background-color #F3F7FF
                    color #306BF3

                &.fa-clock
                    background-color #F9F3FF
                    color #D958D0  
                    
                &.fa-calendar
                    background-color #FFF2F2
                    color #E55D5D    

                &.fa-dollar-sign
                    background-color #E9FBF2
                    color #43A779    

            h6
                font-size 1.125rem

    button 
        background-color #10182F