@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif !important;
    font-weight: 700 !important;
    background-color: #EEF2FD !important;
    color: #2B204F !important;
}

main {
    margin-top: 4rem;
    max-width: 971px;
    width: 95%;
    box-shadow: 0px 14px 20px darken($color: #EEF2FD, $amount: 10%);
    
    .info {
        p {
            max-width: 591px;
            width: 100%;
            font-size: 1.125rem;
        }

        .features {
            div {
                h3 {
                    font-size: 1.625rem;
                }

                p {
                    max-width: 270px;
                    width: 100%;
                }

                button {
                    background-color: #4154E8;
                    box-shadow: 0px 6px 10px lighten($color: #4154E8, $amount: 10%);
                }

                a,
                a:visited {
                    color: #4154E8;
                }
            }
        }
    }
}