@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  background-color: #eef0f7 !important;
}
main {
  margin-top: 7rem;
  max-width: 620px;
  width: 95%;
}
main img {
  width: 78px;
  height: 88px;
}
main p {
  max-width: 470px;
  width: 100%;
  font-size: 1.25rem;
}
main a,
main a:visited {
  font-size: 1.25rem;
  color: #6189ff;
}
