@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 500 !important;
  background-color: #eef0f7 !important;
}
main {
  margin-top: 7rem;
  max-width: 1360px;
  width: 95%;
}
main h4 {
  color: #1a2250;
}
main .options {
  gap: 6rem;
}
main .options div {
  color: #5f85ff;
  max-width: 350px;
  width: 100%;
  border-left: 4px solid #8bcdff;
  cursor: pointer;
  transition: 0.2s ease;
}
@media (max-width: 938px) {
  main .options div {
    max-width: 100%;
  }
}
main .options div:hover,
main .options div.selected {
  color: #000;
  background-color: #f6f8ff;
}
main .options div span {
  max-width: 260px;
  width: 100%;
  font-size: 1.25rem;
}
