@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Open Sans', sans-serif !important
    color #242E4C !important
    background-color #E7E9F2 !important

main 
    margin-top 5rem
    max-width 489px
    width 95%
    box-shadow 0 8px 10px darken(#E7E9F2, 10%)

    img 
        width 100px
        height 100px

    .email
        font-weight 600
        font-size 1.125rem

    p 
        max-width 318px
        width 100%

    .update
        background-color #F7F8FC

        h6
            font-size 1.125rem

        a,
        a:visited
            font-weight 600
            color #5B608C  
            border-color #E9EAF6  
            max-width 185px
            width 100%

    a,
    a:visited
        background-color #242E4C
        max-width 185px
        width 100%
        font-weight 600
