@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif !important;
  color: #10182f !important;
}
main {
  margin-top: 6rem;
}
main .cards .cards-info {
  max-width: 563px;
  width: 100%;
  border-color: #dae1f5;
  cursor: pointer;
  transition: 0.2s ease;
}
main .cards .cards-info:hover {
  box-shadow: 0 8px 8px #b6c3eb;
  border: none !important;
}
main .cards .cards-info img {
  width: 110px;
  height: 110px;
}
main .cards .cards-info div h6 {
  font-size: 1.125rem;
}
main .cards .cards-info div p {
  max-width: 338px;
  width: 100%;
}
main button {
  background-color: #10182f;
  max-width: 201px;
  width: 100%;
}
