@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Mulish', sans-serif !important
    color #10182F !important

main 
    margin-top 6rem   

    .cards
        .cards-info
            max-width 563px
            width 100%
            border-color #DAE1F5
            cursor pointer
            transition 0.2s ease

            &:hover
                box-shadow 0 8px 8px darken(#DAE1F5, 10%)
                border none !important

            img 
                width 110px
                height 110px

            div 
                h6
                    font-size 1.125rem 

                p
                    max-width 338px
                    width 100%    

    button
        background-color #10182F
        max-width 201px
        width 100%