@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

* 
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Mulish', sans-serif !important
    background linear-gradient(to bottom right, #FBF0FF, #F1F7FF)
    min-height 80vh
    color #0E1437 !important

main 
    margin-top 6rem
    max-width 675px
    width 95%
    box-shadow 0 8px 15px darken(#F1F7FF, 5%)

    .dashboard
        .cards
            max-width 575px
            width 100%
            border 1px solid #D7DBF1 !important

            i 
                width 70px
                height 70px

                &.fa-building
                    background-color #FFE2E8

                &.fa-user
                    background-color #E5EAFF    

            div
                .title
                    font-size 1.125rem 
                
    p 
        background-color #FFF6EA

        a,
        a:visited
            color #2439BA
