@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif !important;
	font-weight: 500 !important;
    background-color: #E1E7F7 !important;
    color: #080930 !important;
}

main {
    max-width: 818px;
    width: 95%;
    box-shadow: 0 8px 8px darken($color: #E1E7F7, $amount: 10%);
    margin-top: 7rem;

    .close {
        i {
            cursor: pointer;
            color: lighten($color: #080731, $amount: 20%);
            transition: 0.2s ease;

            &:hover {
                color: red;
            }
        }
    }

    .info {
        img {
            width: 130px;
            height: 130px;
        }

        p {
            font-size: 1.125rem; 
        }

        button {
            background: linear-gradient(to right, #938BFF, #3887E1);
            max-width: 246px;
            width: 100%;
            font-size: 1.125rem; 
        }
    }
}