* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif !important;
  background: linear-gradient(to bottom right, #c9a5f3, #ffb4c9);
  color: #242E4C !important;
  min-height: 80vh;
}
main {
  margin-top: 10rem;
  max-width: 698px;
  width: 95%;
}
main .close i {
  cursor: pointer;
  color: #7D7A9E;
  background-color: #F7F7FC;
  transition: 0.2s ease;
}
main .close i:hover {
  color: red;
}
main .infos img {
  width: 90px;
  height: 90px;
}
main .infos h5 {
  font-size: 1.25rem;
}
main .infos p {
  max-width: 553px;
  width: 100%;
}
main .infos .policy,
main .infos .policy:visited {
  color: inherit;
}
main .infos .setting-info .got {
  background: linear-gradient(to right, #F073C8, #FF6A95);
}
main .infos .setting-info .edit,
main .infos .setting-info .edit:visited {
  color: #7D7A9E;
}
