@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    background: linear-gradient(to bottom right, #FAFAFA, #EAEAF7);
    color: #242E4C !important;
    min-height: 85vh;
}

main {
    max-width: 1050px;
    width: 95%;
    margin-top: 8rem;
    box-shadow: 0 8px 12px darken($color: #EAEAF7, $amount: 10%);

    .close {
        .fa-xmark {
            color: #A6ABBB;
            cursor: pointer;
            transition: 0.2s ease;

            &:hover {
                color: rgb(255, 52, 52);
            }
        }
    }

    .links {
        h1 {
            font-size: 2.8125rem; 
            font-weight: 400;
        }

        p {
            font-size: 1.5rem; 
            max-width: 550px;
            width: 100%;
        }

        .share {
            .info {
                max-width: 182px;
                width: 100%;
                box-shadow: 0 0 0 10px #E4E9FA;

                span {
                    font-weight: 500;
                    font-size: 1.25rem; 
                }
            }
        }
    }
}