@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif !important;
  background-color: #f7f8fc !important;
  color: #10182f !important;
}
main {
  margin-top: 8rem;
  max-width: 1230px;
  width: 95%;
  border-top: 3px solid #10182f;
  border-bottom: 3px solid #10182f;
}
main nav .breadcrumb .breadcrumb-item.active {
  color: #10182f !important;
}
main nav .breadcrumb .breadcrumb-item a,
main nav .breadcrumb .breadcrumb-item a:visited {
  color: #545d7a;
}
main h2 {
  font-size: 2.125rem;
}
main .input-section .info p {
  font-size: 1.125rem;
  max-width: 392px;
  width: 100%;
}
main .input-section div input {
  width: 19px;
  height: 19px;
  accent-color: #10182f;
  cursor: pointer;
}
main .input-section div input.disabled {
  color: #d1d1d1;
}
