@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Mulish', sans-serif !important
    background-color #EFE8E0 !important

main
    margin-top 8rem

    .events-info
        max-width 431px
        width 95%
        
        div
            cursor pointer

            .title
                font-size 1.125rem
                color #FF6D5A    

            .schedule
                color #929292
                margin-top -0.8rem    
    
    .categories
        max-width 431px
        width 95%
        
        button
            background-color #FF6D5A
            max-width 431px
            width 100%            
            font-size 1.125rem
        
        .categories-section
            div
                cursor pointer

                p
                    font-size 1.125rem
                    color #FF6D5A    

                    span
                        font-size 1rem
                        color #242E4C
                        border-color #242E4C