@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'IBM Plex Sans', sans-serif !important
    color #1A183E !important
    background-color #F0F0F4 !important

main 
    margin-top 6rem
    max-width 863px
    width 95%
    box-shadow 0 12px 12px darken(#F0F0F4, 15%)    

    .cards
        .cards-info
            max-width 349px
            width 100%
            cursor pointer
            border 1.5px solid darken(#F0F0F4, 5%)

            &.one
                background-color #2A46CC

                a,
                a:visited
                    background-color #6A7DDB
                    max-width 113px
                    width 100%

            span
                font-size 1.125rem
                font-weight 500

            a,
            a:visited
                color #2A46CC
                background-color #F0F0F4    

    .show,
    .show:visited
        color #2A46CC 
        border 1.5px solid #2A46CC     
        max-width 169px !important
        width 100%       
        font-weight 500
            
