@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body 
    font-family 'Nunito', sans-serif !important
    background linear-gradient(to bottom right, #B2E7FF, #2D6A40)
    color #242E4C !important
    min-height 87vh

main 
    margin-top 7rem

    .conversion
        max-width 483px
        width 100%

        ul 
            li 
                span
                    font-size 1.125rem 

        button 
            background linear-gradient( to bottom right, #FFA354, #ED6E64, #EA6767)
            max-width 283px
            width 100%
            box-shadow 0 8px 10px lighten(#ED6E64, 35%)
            font-size 1.25rem

    .links
        max-width 483px
        width 100%

        .quick-links
            background linear-gradient(to bottom right, #FFA354, #EA6767)

        .developer
            p 
                max-width 387px
                width 100%    

                a,
                a:visited
                    color #E44742

