@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500 !important;
  background-color: #f4f5fa !important;
  color: #171435 !important;
}
main {
  margin-top: 7rem;
}
main h2 {
  max-width: 579px;
  width: 100%;
  font-family: 'Merriweather', serif;
  font-weight: 900;
}
main p {
  font-weight: 500;
  font-size: 1.125rem;
  max-width: 713px;
  width: 100%;
}
main .cards .cards {
  max-width: 285px;
  width: 100%;
}
main .cards .cards.one {
  box-shadow: -20px -20px #fffbec;
}
main .cards .cards.one img {
  width: 43.11px;
  height: 30px;
}
main .cards .cards.two {
  box-shadow: -20px -20px #f9ecff;
}
main .cards .cards.two img {
  width: 76px;
  height: 30px;
}
main .cards .cards.three {
  box-shadow: -20px -20px #eceeff;
}
main .cards .cards.three img {
  width: 76px;
  height: 30px;
}
main .cards .cards .gb {
  font-size: 1.125rem;
  font-weight: 600;
}
main .cards .cards .bit {
  font-size: 0.875rem;
}
main .cards .cards p {
  font-size: 1.5rem;
}
main .cards .cards p span {
  font-size: 0.875rem;
  font-weight: 500;
}
main .cards .cards button {
  font-weight: 500;
  background-color: #f4f5fa;
}
main button {
  background-color: #1f1f38;
}
