@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'Lato', sans-serif !important
    background linear-gradient(to bottom right, #F3A7A7, #A4B2ED)
    color darken(#242E4C, 20%) !important
    min-height 90vh

main 
    margin-top 6rem    

    h1
        max-width 541px
        width 100%
        font-size 3.125rem 

    .mission
        max-width 696px
        width 100%
        font-size 1.5rem

    .cards
        .service-info
            max-width 586px
            width 100%
            cursor pointer
            transition 0.2s ease

            &:hover
                transform scale(1.04)
                box-shadow 0 10px 20px darken(#A4B2ED, 10%)

            img
                width 105px
                height 105px    

            div
                h3
                    font-size 1.625rem

                p 
                    max-width 372px
                    width 100%
                    color #5D6990
                    font-size 1.1875rem 