@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap')

*
    margin: 0
    padding: 0
    box-sizing: border-box

body 
    font-family 'Montserrat', sans-serif !important
    background-color: #FDFBF4 !important
    color  #242E4C !important

main 
    margin-top 6rem
    max-width 910px
    width 95%    
    box-shadow 0 10px 20px darken(#FDFBF4, 10%)

    p
        max-width 551px
        width 100%
        font-size: 0.9375rem

    .cards
        .cards-info
            border 2px solid #EAE8E4
            box-shadow 0 8px 10px darken(#FDFBF4, 10%)
            max-width 392px
            width 100%

            @media (max-width 951px)
                max-width 100%

            img
                width 100px 
                height 100px
                
            div
                h6
                    font-size: 1.125rem

                span
                    font-size: 0.875rem
                    display block
                    margin-top 0.5rem

                    @media (max-width 951px)
                        width 100% !important