@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'Mulish', sans-serif !important
    background-color #1A1C1F !important

main 
    margin-top 6rem
    max-width 473px
    width 95%
    box-shadow 0 0 0 20px #16171A  

    .fa-bolt
        color #FFCE3E  
        background-color #16171A
        width 114px
        height 114px

    p 
        max-width 315px
        width 100%    

    button 
        font-size 1.125rem
        background-color #16171A
        color #DADADA
        max-width 316px
        width 100%