@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'IBM Plex Sans', sans-serif !important
    color #1A183E !important
    background-color #F0F0F4 !important

main 
    margin-top 5rem
    max-width 635px
    width 95%
    box-shadow 0 10px 20px darken(#F0F0F4, 15%)

    .header
        font-weight 500
        
        a,
        a:visited
            color #2A46CC
            font-weight 500

    .resources-info
        .infos
            border-bottom 2px solid #F0F0F4
            cursor: pointer

            .question
                font-size 1.125rem
                font-weight 500
                color #2A46CC

            p
                max-width: 495px
                width: 100%   