@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap')

* 
    margin 0
    padding 0   
    box-sizing border-box

body
    font-family 'Mulish', sans-serif !important
    background-color #151229 !important
    color #151229 !important

main 
    margin-top 7rem
    max-width 1132px
    width 95%
    box-shadow 0 0 0 20px #201C39
    
    .cards
        max-width 722px
        width 100%
        
        .infos
            img
                width 42px
                height 42px

            div
                p
                    font-size 0.875rem 
                    max-width 219px
                    width 100%

                    @media (max-width: 835px)
                        max-width 100%

    .error
        max-width 250px
        width 100%
        border 1.5px solid #EEECFF

        img
            height 153px
            width 100%

        div
            p
                font-size 0.875rem 
                max-width 219px
                width 100%
