@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap')

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family 'Mulish', sans-serif !important
    font-weight 700 !important
    background-color #1A182D !important
    color #D1D5E5 !important

main 
    margin-top 7rem
    max-width 739px
    width 95% 
    background-color #141324     

    .users
        .cards
            max-width 200px
            width 100%
            background-color #1A182D
            cursor pointer            
            height 190px 

            img
                width: 80px
                height: 80px

            &.add 
                color: #5A9EE2

                i 
                    border 1px solid #1D3149  
                    width 44px
                    height 44px  

    a,
    a:visited
        border 1px solid #1D3149
        color #5A9EE2 
        max-width 194px
        width 100%
