@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif !important;
  font-weight: 700 !important;
  background-color: #1a182d !important;
  color: #d1d5e5 !important;
}
main {
  margin-top: 7rem;
  max-width: 739px;
  width: 95%;
  background-color: #141324;
}
main .users .cards {
  max-width: 200px;
  width: 100%;
  background-color: #1a182d;
  cursor: pointer;
  height: 190px;
}
main .users .cards img {
  width: 80px;
  height: 80px;
}
main .users .cards.add {
  color: #5a9ee2;
}
main .users .cards.add i {
  border: 1px solid #1d3149;
  width: 44px;
  height: 44px;
}
main a,
main a:visited {
  border: 1px solid #1d3149;
  color: #5a9ee2;
  max-width: 194px;
  width: 100%;
}
