* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif !important;
  background: url(images/background.jpeg);
  background-size: cover;
}
main {
  margin-top: 6rem;
  max-width: 800px;
  width: 95%;
}
main h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  background-color: #13a6df;
}
main button {
  background-color: #40bbbe;
}
