@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Mulish:wght@400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom right, #EC80AE, #A779E8) no-repeat;
    min-height: 88.45vh;
    color: #22233A !important;
    font-family: 'Mulish', sans-serif !important;
}

main {
    margin-top: 6rem;
    max-width: 645px;
    width: 95%;

    .close {
        i {
            cursor: pointer;
            color: lighten($color: #2C3E50, $amount: 20%);
            background-color: #EDF0FF;
            width: 48px;
            height: 48px;
            transition: 0.2s ease;

            &:hover {
                color: #DC3545;
            }
        }
    }

    .card-info {
        div {
            .fa-scroll {
                width: 42px;
                height: 42px;
                font-size: 2.625rem;
            }

            div {
                h5 {
                    font-size: 1.375rem;
                    font-family: 'Merriweather', serif;
                }

                span {
                    margin-top: -0.5rem;
                }
            }
        }

        .features {
            gap: 15rem;

            @media (max-width: 540px) {
                gap: 6rem;
            }

            .feature-info {
                h6 {
                    font-family: 'Merriweather', serif;
                    font-size: 1.125rem;
                }

                ul {
                    li {
                        a,
                        a:visited {
                            color: inherit;
                        }
                    }
                }
            }
        }
    }

    .links {
        background-color: #FAFBFF;
        border: 2px solid #E2E5F6;
        
        a,
        a:visited {
            color: #2024B0;
        }
    }
}